.header {
	background-color: rgb(16, 160, 160);
	height: 60px;
	border-bottom: 1px solid gainsboro;
}

.navList {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.navContainer {
	padding: 0px 20px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.active {
	color: red;
}
