.container {
	padding: 0px 20px;
	margin: 0 auto;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	margin: 0;
	padding: 5px;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
